# IDE directories
.idea
.vscode

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Test files
test.cs
test.csv
test.go
test.java
test.js
test.json
test.php
test.py
test.rb
test.rs
test.sh
test.toml
test.tsv
test.txt
test.yaml
test.yml

